<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }

        #new_text {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            text-align: center;
            border: 2px solid #ccc;
            padding: 10px;
            width: 300px;
            margin: 0 auto;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <p id="new_text">{{content}} {{reg_num}}</p>
    <br>
</body>
</html>
